mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.parent-container {
  padding: 4rem;
}

h1,
.title h2 {
  font-size: 46px;
  font-weight: 700;
}
