<div class="parent-container">
  <div class="title">
    <h1>Contact Me</h1>
  </div>
  <mat-card>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" type="tel">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
  
      <button mat-raised-button class="button-primary" type="submit" [disabled]="!contactForm.valid">Submit</button>
    </form>
  </mat-card>
</div>
