<div class="footer">
    <div class="grid">
        <div class="logo">
            <h1 mat-button routerLink="/home">SABASI</h1>
        </div>
        <div class="contact">
            <header style="font-weight: 700;">Contact</header>
            <ul class="links">
                <li><a href="https://api.whatsapp.com/send?phone=0722651415&text=Hello%2C%20World!" target="_blank"><fa-icon [icon]="faWhatsapp"></fa-icon>&ensp;Whatsapp</a></li>
                <li><a href="https://www.facebook.com/pages/xxxx/xxxxxx" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon>&ensp;facebook</a></li>
                <li><a href="http://instagram.com/_u/{USERNAME}/"><fa-icon [icon]="faInstagram"></fa-icon>&ensp;instagram</a></li>
                <li><a href="mailto:email@example.com"><fa-icon [icon]="faEnvelope"></fa-icon>&ensp;e-mail</a></li>
            </ul>
        </div>
        <div class="contact">
            <header style="font-weight: 700;">Quick Links</header>
            <ul class="links">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/catalog">Catalog</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <span>&copy; 2024 SABASI. All Rights Reserved.</span>
</div>