.sticky-toolbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.spacer {
  flex: 1 1 auto;
}

nav button {
  margin-left: 8px;
}


.menu-icon {
  display: none;
}

.nav-buttons {
  display: flex;
}

@media (max-width: 700px) {
  .nav-buttons {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .sticky-toolbar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.active-link {
  border-bottom: 1px solid var(--primary-color)
}

button.mat-button.active-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}