.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 5rem;
}

h1, h2, p {
    text-align: left;
    color: #2c3e50;
}

@media (max-width: 800px) { 
    .about-us {
        max-width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }
  }